.topbar-wrapper {
  width: 100%;
  line-height: 40px;
  background: #333;
}
.topbar {
  position: relative;
}
/* 链接字体样式 */
.topbar a {
  font-size: 12px;
  color: #b0b0b0;
  display: block;
}
.topbar a:hover {
  color: #fff;
}
/* 分割线 */
.topbar .line {
  font-size: 12px;
  color: #424242;
  margin: 0 8px;
}
/* 左侧导航 */
.service,
.topbar li {
  float: left;
}
/* 右侧导航 */
.shopcart,
.userinfo {
  float: right;
}

/* 添加三角形*/
.app::before {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -12px;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  /* border-width: 0 8px 8px;
  border-style: solid;
  border-color: rgba(0,0,0,0) rgba(0,0,0,0) #fff; */
}
/* hover时 二维码block 伪元素block */
.app:hover .qrcode,
.app:hover::before {
  display: block;
  height: 148px;
}
.qrcode {
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 1;
  width: 124px;
  /* 为了动画效果 高度为0，内容hidden*/
  height: 0;
  overflow: hidden;
  background: #fff;
  text-align: center;
  line-height: 1;
  font-size: 14px;
  color: #333;
  margin-left: -62px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: height 0.2s;
}
.qrcode img {
  width: 90px;
  margin: 17px;
  margin-bottom: 12px;
}

/* 公共父类设置hover，hover后给a设置样式 */
.shopcart:hover a {
  background: #fff;
  color: #ff6700;
}
.shopcart a {
  width: 120px;
  background: #424242;
  text-align: center;
  margin-left: 26px;
}
.shopcart i {
  margin-right: 2px;
}
.shopcart-content {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 2;
  width: 316px;
  height: 0;
  overflow: hidden;
  text-align: center;
  color: #424242;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: height 0.3s;
}

.shopcart-menu:hover .shopcart-content {
  height: 100px;
}

span.msg {
  display: inline-block;
  padding: 20px 0 20px;
}
.header-wrapper {
  position: relative;
}
.header {
  height: 100px;
}

/* 设置logo容器 */
.header .logo {
  position: relative;
  float: left;
  margin-top: 22px;
  width: 55px;
  height: 55px;
  /* 两个并列的logo先隐藏掉左边的 */
  overflow: hidden;
  /* 隐藏h1的文字内容 ：缩进-9999px */
  text-indent: -9999px;
}
/* 统一设置超链接 */
.header .logo a {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 0;
  background-color: #ff6700;
  background-image: url(../img/mi-logo.png);
  background-position: center;
  transition: left 0.2s;
}
/* 设置logo-home 的位置 */
.header .logo .home {
  background-image: url(../img/mi-home.png);
  left: -55px;
}
.logo:hover .mi {
  left: 55px;
}
.logo:hover .home {
  left: 0;
}
/* 设置导航条 */
.nav-wrapper {
  float: left;
  margin-left: 7px;
}
.nav {

  height: 100px;
  line-height: 100px;
  padding-left: 58px;
}
.nav > li {
  float: left;
  padding-right: 20px;
}
.nav li a {
  display: block;
  font-size: 16px;
  color: #333;
}
.nav li a:hover {
  color: #ff6700;
}
.allgoods-wrapper {
  position: relative;
}
.allgoods {
  visibility: hidden;
}

/* 设置左侧导航条 */
.left-menu {
  width: 234px;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -120px;
  z-index: 9;
  padding: 20px 0;
}

.left-menu li a {
  display: block;
  height: 42px;
  line-height: 42px;
  padding: 0 30px;
  color: white;
  font-size: 14px;
}

.left-menu li a:hover {
  color: #fff;
  background: #ff6700;
}
/* 图标居中向右浮动 */
.left-menu li a i {
  float: right;
  line-height: 42px;
}

/* 设置下拉商品框样式 */
.goodsinfo {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 0;
  transition: height .4s;
  z-index: 999;
  background: white;
}
/* hover要写在下面，不然会被同类覆盖 */
.nav li:not(:first-of-type):not(:nth-child(9)):not(:nth-child(10)):hover ~ .goodsinfo,
.goodsinfo:hover {
  height: 228px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgb(224,224,224);
}
/* 设置搜索框样式 */
.search-warpper {
  width: 296px;
  height: 50px;
  float: right;
  margin-top: 25px;
}

/* 都浮动去除相邻的空隙 */
.search-warpper .search-input {
  float: left;
  box-sizing: border-box;
  width: 223px;
  height: 48px;
  border: 1px solid #e0e0e0;
  padding: 0 10px;
  outline: 0;
  font-size: 14px;
  line-height: 48px;
}

.search-warpper .search-btn {
  float: left;
  width: 52px;
  height: 48px;
  border: none;
  padding: 0;
  color: #616161;
  background-color: #fff;
  font-size: 20px;
  border: 1px solid #e0e0e0;
  border-left: none;
}

.search-input:hover{
  border: 1px solid #b0b0b0;
}
.search-input:hover + button {
  border: 1px solid #b0b0b0;
  border-left: none;
}

/* 分别设置使边框不会重叠 */
.search-input:focus {
  border: 1px solid #ff6700;
}
.search-input:focus + button {
  border: 1px solid #ff6700;
  border-left: none;
}
.search-btn:hover {
  background-color: #ff6700;
  color: #fff;
  border: 1px solid #ff6700;
}
/* 去掉点击时的轮廓 */
.search-btn:focus {
  outline: 0;
}

/* 设置首页轮播图 */
.banner {
  position: relative;
  height: 460px;
}
.banner li {
  position: absolute;
}
.banner img {
  width: 100%;
  /* 图片对齐类似字体，通过设置基线对齐去除空隙 */
  vertical-align: top;
}

/* 设置导航点 */
.pointer {
  position: absolute;
  bottom: 22px;
  right: 35px;
}
.pointer a {
  float: right;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .4);
  border: 2px solid rgba(0, 0, 0, .4);
  margin-left: 6px;
}
.pointer a:hover,
.pointer a.active {
  background: rgba(0, 0, 0, .4);
  border-color: rgba(255, 255, 255, .4);
}

.pre-next a {
  position: absolute;
  width: 41px;
  height: 69px;
  background-image: url(../img/icon-slides.png);
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.pre-next .pre {
  left: 234px;
  background-position: -84px 0;
}
.pre-next .pre:hover {
  background-position: 0 0;
}
.pre-next .next {
  right: 0;
  background-position: -125px 0;
}
.pre-next .next:hover {
  background-position: -42px 0;
}
/* 右侧工具条 */
.right-tools {
  width: 26px;
  height: 206px;
  /* background: #bfa; */
  position: fixed;
  bottom: 50px;
  right: 50%;
  /* 只能设置右侧偏移 */
  margin-right: -650px;
}
.icon li {
  position: relative;
}
.icon li {
  border-bottom: 1px solid #f5f5f5;
}
.icon li:last-child {
  border-bottom: none;
}
.icon li a {
  display: block;
  width: 25px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.icon li a i {
  width: 20px;
  height: 20px;
  color: #757575;
  font-size: 17px;
}
.mobile .img-code::before {
  display: none;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: 0;
  top: 10px;
  margin-right: -12px;
  border: 6px solid transparent;
  border-left-color: white;
}
.icon .mobile .img-code {
  display: none;
  position: absolute;
  top: 0;
  right: 38px;
  width: 124px;
  background: #fff;
  /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); */
  line-height: 1;
  color: #757575;
}
.icon .mobile a:hover .img-code,
.icon .mobile a:hover .img-code::before{
  display: block;
}
.icon .mobile img {
  width: 90px;
  margin: 17px;
}

.img-code span {
  display: block;
  margin: 0 17px 17px 16px;
}

/* 下部功能区 */
.tools {
  height: 170px;
  margin-top: 14px;
  overflow: hidden;
}

.tools .shortcut,
.tools .tool-img,
.tools li {
  float: left;
}

.tools .shortcut {
  width: 228px;
  height: 164px;
  background: #5f5750;
  margin-right: 14px;
  padding: 3px;
}
.shortcut li {
  padding: 0 3px;
  width: 70px;
  height: 82px;
}
/* 设置超链接 */
.tools .shortcut a {
  display: block;
  color: #cfccca;
  text-align: center;
  padding: 18px 0 0;
  font-size: 12px;
}
.tools .shortcut a:hover {
  color: #fff;
}
/* 设置图标字体 */
.tools .shortcut i {
  display: block;
  font-size: 24px;
  margin: 0 auto 4px;
}
.tools .tool-img li{
  width: 316px;
  margin-right: 15px;
}
.tools .tool-img li:last-child{
  margin: 0;
}
.tools .tool-img img {
  width: 100%;
  vertical-align: top;
}

